<h1 class= "text-secondary">Care Board: 在宅介護の情報共有プラットフォーム</h1>
<p>
 <h4 class="text-secondary">
  Care Boardは、在宅介護をしている方々が情報を共有し合うための<br>
  オンラインプラットフォームです。介護に関する知識や経験、リソースを<br>
  提供し合うことで介護の負担を軽減し、介護者様が、より良いケアを<br>
  実現できるようサポートします。
 </h4>
</p>

<p>
  <h4 class="text-secondary">このサイトでできること</h4>
</p>

<p>
  <h5 class="text-secondary mt-4">情報共有フォーラム</h5>
  <h6 class="text-secondary">介護に関する質問や悩みを投稿し、他のユーザーからアドバイスや回答を得ることができます。</h6>
  <h6 class="text-secondary">介護方法やケアプランに関するディスカッションを通じて、実践的な知識を共有します。</h6>
</p>

<p>
  <h5 class="text-secondary mt-4">リソースライブラリ</h5>
  <h6 class="text-secondary">介護に役立つ記事、ガイド、ビデオなどを集めたデジタルライブラリです。</h6>
  <h6 class="text-secondary">専門家によるコンテンツや、メンバーが推薦するリソースを閲覧できます。</h6>
</p>

<p>
  <h5 class="text-secondary mt-4">メンバー交流</h5>
  <h6 class="text-secondary">メンバー同士でのプライベートメッセージ機能を利用して、直接コミュニケーションを取ることができます。</h6>
  <h6 class="text-secondary">共通の介護状況を持つグループを作成し、情報を共有しやすくします。</h6>
</p>

<p>
  <h4 class="text-secondary mt-4">このサイトの目指すところ</h4>
  <h6 class="text-secondary">
    Care Boardは、在宅介護をしている方々が孤立せず、支え合うコミュニティを形成することを目指しています。介護は大変な仕事ですが、情報や経験を共有することで、少しでもその負担を軽くし、より良いケアを提供する一助となることを願っています。
  </h6>
</p>