<div class= "container px-5 px-sm-0">
	<h1 class= "text-secondary">ジャンル一覧・ジャンル追加</h1>
	<%= render 'form', genre: @genre %>
	<table class= "table table-striped">
		<tr>
			<td class= "text-secondary">ジャンル</td>
			<td>###</td>
			<td></td>
		</tr>
		<% @genres.each do |genre| %>
			<tr>
				<td class= "text-secondary"><%= genre.name %></td>
				<td class= "text-secondary"><%= link_to "編集する", edit_admin_genre_path(genre) %></td>
			</tr>
		<% end %>
	</table>
</div>