<h3>ユーザー削除画面</h3>

<div>
  <b>退会すると、会員登録情報や</b><br>
  <b>投稿内容が削除されます。</b><br>
  <b>削除する場合は、「ユーザーを削除する」をクリックしてください。</b>
<!--退会後は会員新規登録画面に遷移-->
  <%= link_to "ユーザーを削除する", withdraw_admin_user_path(@user), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>

</div>