<h3>退会画面</h3>

<div>
  <b>退会すると、会員登録情報や</b><br>
  <b>投稿内容が削除ます。</b><br>
  <b>退会する場合は、「退会する」をクリックしてください。</b>

  <%= link_to "退会しない", user_path(current_user.id) %>
<!--退会後は会員新規登録画面に遷移-->
<!--data: { confirm: "退会してもよろしいですか？" }=退会するボタン押した後確認メッセージ表示させる-->
  <%= link_to "退会する", withdraw_users_path, method: :patch, data: { confirm: "退会してもよろしいですか？" } %>

</div>